@model Live_Dinner_3.ViewModel.MenuViewModel

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>Special Menu</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->
<!-- Start Menu -->
<div class="menu-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Special Menu</h2>
					<p>Here you will definitely find your taste</p>
				</div>
			</div>
		</div>

		<div class="row inner-menu-box">
			<div class="col-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a style="color:black" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
					<a style="color:black" class="nav-link" id="v-pills-Breakfast-tab" data-toggle="pill" href="#v-pills-Breakfast" role="tab" aria-controls="v-pills-Breakfast" aria-selected="false">Breakfast</a>
					<a style="color:black" class="nav-link" id="v-pills-Lunch-tab" data-toggle="pill" href="#v-pills-Lunch" role="tab" aria-controls="v-pills-Lunch" aria-selected="false">Lunch</</a>
					<a style="color:black"  class="nav-link" id="v-pills-Dinner-tab" data-toggle="pill" href="#v-pills-Dinner" role="tab" aria-controls="v-pills-Dinner" aria-selected="false">Dinner</a>
					<a style="color:black" class="nav-link" id="v-pills-Drinks-tab" data-toggle="pill" href="#v-pills-Drinks" role="tab" aria-controls="v-pills-Drinks" aria-selected="false">Drinks</a>
				</div>
			</div>

			<div class="col-9">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
						<div class="row">
							@foreach(var meal in Model.Meals)
							{
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="~/MyImages/@meal.ImgPath" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>@meal.Name</h4>
											<p>@meal.Description</p>
											<div style="display:flex">
												<h5 style="margin-right:20px">$@meal.Price</h5>
                                                <p style ="margin-right:20px">Chef Name: @meal.Chef.Name</p>
											    @if (meal.Availability = true)
											        {
											          	<p>Available</p>

											        }
											    else
											        {
												        <p>Unavailable</p>
											        }
											</div>
										</div>
									</div>
								</div>

							}
						</div>
						
						<div class="row mt-5">
							<div class="col text-center">
								<div class="block-27">
									<ul class="pagination">
										@if (Model.CurrentPage != 1)
										{
											<li class="page-item">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage-1)">&lt;</a>
											</li>
										}
										else
										{
											<li class="page-item disabled">
												<a style="color:black" class="page-link" asp-controller="Homr" asp-action="Menu" asp-route-Page="@(Model.CurrentPage)">&lt;</a>
											</li>
										}

										@for (int i = 1; i <= Model.PageCount; i++)
										{
											if (i == Model.CurrentPage)
											{
												<li class="page-item active">
													<span style="color:black ; background-color:#d65106" class="page-link">@i</span>
												</li>
											}
											else
											{
												<li class="page-item">
													<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@i">@i</a>
												</li>
											}
										}

										@if (Model.CurrentPage != Model.PageCount)
										{
											<li class="page-item">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage+1)">&gt;</a>
											</li>
										}
										else
										{
											<li class="page-item disabled">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage)">&gt;</a>
											</li>
										}
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="v-pills-Breakfast" role="tabpanel" aria-labelledby="v-pills-Breakfast-tab">
						<div class="row">
							@foreach (var meal in Model.Meals)
							{
								@if (meal.Type == "Breakfast")
								{
									<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="~/MyImages/@meal.ImgPath" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>@meal.Name</h4>
											<p>@meal.Description</p>
											<div style="display:flex">
												<h5 style="margin-right:10px">$@meal.Price</h5>
												<p style="margin-right:10px">Chef Name:@meal.Chef.Name</p>
												@if (meal.Availability == true)
												{
													<p>Available</p>

												}
												else
												{
													<p>Unavailable</p>
												}
											</div>
										</div>
									</div>
								</div>
								}
								

							}
							<div class="row mt-5">
								<div class="col text-center">
									<div class="block-27">
										<ul class="pagination">
											@if (Model.CurrentPage != 1)
											{
												<li class="page-item">
													<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage-1)">&lt;</a>
												</li>
											}
											else
											{
												<li class="page-item disabled">
													<a style="color:black" class="page-link" asp-controller="Homr" asp-action="Menu" asp-route-Page="@(Model.CurrentPage)">&lt;</a>
												</li>
											}

											@for (int i = 1; i <= Model.PageCount; i++)
											{
												if (i == Model.CurrentPage)
												{
													<li class="page-item active">
														<span style="color:black ; background-color:#d65106" class="page-link">@i</span>
													</li>
												}
												else
												{
													<li class="page-item">
														<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@i">@i</a>
													</li>
												}
											}

											@if (Model.CurrentPage != Model.PageCount)
											{
												<li class="page-item">
													<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage+1)">&gt;</a>
												</li>
											}
											else
											{
												<li class="page-item disabled">
													<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage)">&gt;</a>
												</li>
											}
										</ul>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="tab-pane fade" id="v-pills-Lunch" role="tabpanel" aria-labelledby="v-pills-Lunch-tab">
						<div class="row">
							@foreach (var meal in Model.Meals)
							{
								@if (meal.Type == "Lunch")
								{
									<div class="col-lg-4 col-md-6 special-grid drinks">
										<div class="gallery-single fix">
											<img src="~/MyImages/@meal.ImgPath" class="img-fluid" alt="Image">
											<div class="why-text">
												<h4>@meal.Name</h4>
												<p>@meal.Description</p>
												<div style="display:flex">
													<h5 style="margin-right:20px">$@meal.Price</h5>
													<p style="margin-right:20px">Chef Name: @meal.Chef.Name</p>
													@if (meal.Availability == true)
													{
														<p>Available</p>

													}
													else
													{
														<p>Unavailable</p>
													}
												</div>
											</div>
										</div>
									</div>
								}


							}
						</div>
						<div class="row mt-5">
							<div class="col text-center">
								<div class="block-27">
									<ul class="pagination">
										@if (Model.CurrentPage != 1)
										{
											<li class="page-item">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage-1)">&lt;</a>
											</li>
										}
										else
										{
											<li class="page-item disabled">
												<a style ="color:black" class="page-link" asp-controller="Homr" asp-action="Menu" asp-route-Page="@(Model.CurrentPage)">&lt;</a>
											</li>
										}

										@for (int i = 1; i <= Model.PageCount; i++)
										{
											if (i == Model.CurrentPage)
											{
												<li class="page-item active">
													<span style="color:black ; background-color:#d65106" class="page-link">@i</span>
												</li>
											}
											else
											{
												<li class="page-item">
													<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@i">@i</a>
												</li>
											}
										}

										@if (Model.CurrentPage != Model.PageCount)
										{
											<li class="page-item">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage+1)">&gt;</a>
											</li>
										}
										else
										{
											<li class="page-item disabled">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage)">&gt;</a>
											</li>
										}
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="v-pills-Dinner" role="tabpanel" aria-labelledby="v-pills-Dinner-tab">
						<div class="row">
							@foreach (var meal in Model.Meals)
							{
								@if (meal.Type == "Dinner")
								{
									<div class="col-lg-4 col-md-6 special-grid drinks">
										<div class="gallery-single fix">
											<img src="~/MyImages/@meal.ImgPath" class="img-fluid" alt="Image">
											<div class="why-text">
												<h4>@meal.Name</h4>
												<p>@meal.Description</p>
												<div style="display:flex">
													<h5 style="margin-right:20px">$@meal.Price</h5>
													<p style="margin-right:20px">Chef Name: @meal.Chef.Name</p>
													@if (meal.Availability == true)
													{
														<p>Available</p>

													}
													else
													{
														<p>Unavailable</p>
													}
												</div>
											</div>
										</div>
									</div>
								}


							}
						</div>
						<div class="row mt-5">
							<div class="col text-center">
								<div class="block-27">
									<ul class="pagination">
										@if (Model.CurrentPage != 1)
										{
											<li class="page-item">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage-1)">&lt;</a>
											</li>
										}
										else
										{
											<li class="page-item disabled">
												<a style="color:black" class="page-link" asp-controller="Homr" asp-action="Menu" asp-route-Page="@(Model.CurrentPage)">&lt;</a>
											</li>
										}

										@for (int i = 1; i <= Model.PageCount; i++)
										{
											if (i == Model.CurrentPage)
											{
												<li class="page-item active">
													<span style="color:black ; background-color:#d65106" class="page-link">@i</span>
												</li>
											}
											else
											{
												<li class="page-item">
													<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@i">@i</a>
												</li>
											}
										}

										@if (Model.CurrentPage != Model.PageCount)
										{
											<li class="page-item">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage+1)">&gt;</a>
											</li>
										}
										else
										{
											<li class="page-item disabled">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage)">&gt;</a>
											</li>
										}
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="v-pills-Drinks" role="tabpanel" aria-labelledby="v-pills-Drinks-tab">
						<div class="row">
							@foreach (var meal in Model.Meals)
							{
								@if (meal.Type == "Drinks")
								{
									<div class="col-lg-4 col-md-6 special-grid drinks">
										<div class="gallery-single fix">
											<img src="~/MyImages/@meal.ImgPath" class="img-fluid" alt="Image">
											<div class="why-text">
												<h4>@meal.Name</h4>
												<p>@meal.Description</p>
												<div style="display:flex">
													<h5 style="margin-right:20px">$@meal.Price</h5>
													<p style="margin-right:20px">Chef Name: @meal.Chef.Name</p>
													@if (meal.Availability == true)
													{
														<p>Available</p>

													}
													else
													{
														<p>Unavailable</p>
													}
												</div>
											</div>
										</div>
									</div>
								}


							}
						</div>
						<div class="row mt-5">
							<div class="col text-center">
								<div class="block-27">
									<ul class="pagination">
										@if (Model.CurrentPage != 1)
										{
											<li class="page-item">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage-1)">&lt;</a>
											</li>
										}
										else
										{
											<li class="page-item disabled">
												<a style="color:black" class="page-link" asp-controller="Homr" asp-action="Menu" asp-route-Page="@(Model.CurrentPage)">&lt;</a>
											</li>
										}

										@for (int i = 1; i <= Model.PageCount; i++)
										{
											if (i == Model.CurrentPage)
											{
												<li class="page-item active">
													<span style="color:black ; background-color:#d65106" class="page-link">@i</span>
												</li>
											}
											else
											{
												<li class="page-item">
													<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@i">@i</a>
												</li>
											}
										}

										@if (Model.CurrentPage != Model.PageCount)
										{
											<li class="page-item">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage+1)">&gt;</a>
											</li>
										}
										else
										{
											<li class="page-item disabled">
												<a style="color:black" class="page-link" asp-controller="Home" asp-action="Menu" asp-route-Page="@(Model.CurrentPage)">&gt;</a>
											</li>
										}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Menu -->