@model Live_Dinner_3.ViewModel.BlogCommentsViewModel

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>Blog</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->
<!-- Start blog details -->
<div class="blog-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Blog</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-12">
				<div class="blog-inner-details-page">
					<div class="blog-inner-box">
						<div >
							<img class="img-fluid" src="~/MyImages/@Model.blog.ImgPath" alt="">
							
						</div>
						<div class="inner-blog-detail details-page">
							<h3>@Model.blog.Title</h3>
							<ul>
								<li><i class="zmdi zmdi-account"></i>Posted By : <span>@Model.blog.Author</span></li>
								
							</ul>
							<p>@Model.blog.Description</p>
						</div>
					</div>
					<div class="blog-comment-box">
						<h3>Comments</h3>
						@foreach (var comm in Model.blog.Comments)
						{
							<div class="comment-item">
								<div class="comment-item-left">
									<img src="~/images/avt-img.jpg" alt="">
								</div>
								<div class="comment-item-right">
									<div class="pull-left">
										<a href="#">@comm.Name</a>
									</div>
									
									<div class="des-l">
										<p>@comm.Comment</p>
									</div>
									<a href="#" class="right-btn-re"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
								</div>
							</div>
						}
						
					</div>
					<div class="comment-respond-box">
						<h3>Leave your comment </h3>
						<div class="comment-respond-form">
							<form asp-action="AddComment" id="commentrespondform" class="comment-form-respond row" method="post">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<input asp-for="@Model.comment.Name"  class="form-control"  placeholder="Name" type="text">
									</div>
									<div class="form-group">
										<input asp-for="@Model.comment.Email"  class="form-control"  placeholder="Your Email" type="email">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<textarea asp-for="@Model.comment.Comment" class="form-control" id="textarea_com" placeholder="Your Message" rows="2"></textarea>
									</div>
								</div>
								<input asp-for="@Model.comment.BlogId" type="hidden" value="@Model.blog.Id">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<button class="btn btn-submit">Submit comment</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<!-- End details -->